$ancho: 18px;


@media screen and (max-width: 760px) {
    #intro, #equipo{
        width: 90% !important;
    }

    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto{
        top:-110px;
    }

    #productos{
        flex-direction: column !important;
        margin: auto;
    }

}


@media screen and (max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

#local {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center !important;;
}

.wrapper{
    margin-left: 50px;
    padding-top: 50px;
    text-align: center;
}

@media screen and (max-width: 1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}


#numeros-local div {
    padding: 0 20px 0 0;
    height: 48px;
}

#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
    padding-left: 20px;
}

#numeros-local p{
    margin: 0;
}

#bg-contacto{
    position: relative;
    top: -130px;
    #seccion-contacto{
        min-height: 500px;
        position: relative;
    }
    
#seccion-contacto-page{
    min-height: 500px;
    position: relative;
    background-image: url(./images/648583.jpg);
    background-position: center;
    background-size: cover;
}
}


@import "colors.scss";
@import "footer.scss";
@import "header.scss";
@import "navbar.scss";

