$vista: desktop;
$colors: (
    primar: blueviolet, 
    secondar: white,
    terciar: lightblue);
$color: #fff;
$ancho: 18px;

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

@media screen and (max-width: 760px) {
    #intro, #equipo{
        width: 90% !important;
    }

    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto{
        top:-110px;
    }

    #productos{
        flex-direction: column !important;
        margin: auto;
    }


}


@media screen and (max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

#local {
    display: flex;
    justify-content: center !important;;
}

.wrapper{
    margin-left: 50px;
    padding-top: 50px;
    text-align: center;

#formulario{
        width: 100%;
        margin: auto;
        padding-top: 50px;
}
}

@media screen and (max-width: 1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }


}


#numeros-local div {
    padding: 0 20px 0 0;
    height: 48px;
}

#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
    padding-left: 20px;
}

#numeros-local p{
    margin: 0;
}

#bg-contacto{
    position: relative;
    top: -130px;
    #seccion-contacto{
        min-height: 500px;
        position: relative;
    }
    
#seccion-contacto-page{
    min-height: 500px;
    position: relative;
    background-image: url(./images/648583.jpg);
    background-position: center;
    background-size: cover;
}
}


#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    border-radius: 25px;
    max-width: 500px;
    #titulo-formulario{
        color: #3f3f3f;
    }
    #titulo-formulario-contacto{
        color: #f3f3f3;
    }
}

.container{
    padding: 30px;
    .img_container{
        margin: 1.5rem;
    }
}

.producto_img{
    align-items: center;
    border-radius: 5px;
    background-color: #f5f5f5;

}



.btn{
    border-radius: 7px;
    border: none;
    font-size: 1.3rem;
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
}

@mixin btn-style ($background, $typography){
    background-color: $background;
    color: $typography;
}

.producto_button-primary{
    @extend .btn;
    @include btn-style(#219F94,white);
    &:hover{
        background-color: #3f3f3f;
    }

}


.producto_button-secondary{
    @extend .btn;
    background-color: #219F94;
    color: #f3f3f3;
    &:hover{
        background-color: #3f3f3f;
    }

}

.producto_button button{
    @extend .btn;
    @include btn-style(#219F94,white);
    &:hover{
        background-color: #3f3f3f;
    }
}


