#menu li > a{
    font-size: $ancho;
    font-weight: bold;
    color: #3f3f3f;
    #menu form > button{
        font-size: 18px;
        font-weight: bold;
    }
}

.carousel-inner{
    max-height: 42rem;
}
