footer {
  background-color: #3f3f3f;
  min-height: 100px; }
  footer p {
    color: #f5f5f5;
    text-align: center; }
  footer .fs-5 {
    font-size: 1.25rem;
    color: #f5f5f5 !important; }
  footer .bi {
    font-size: 30px !important; }
  footer .bi {
    font-size: 30px !important; }

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: f3f3f3; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden; }

@media screen and (max-width: 760px) {
  #intro, #equipo {
    width: 90% !important; }
  .servicio-fila {
    width: 100% !important;
    text-align: center; }
  #bg-contacto {
    top: -110px; }
  #productos {
    flex-direction: column !important;
    margin: auto; } 
  #suscribite{
    width: 100%;
  }
  .carousel-inner1{
    width: 100% !important;}
  }

@media screen and (max-width: 576px) {
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important; } }

#local {
  display: flex;
  justify-content: center !important; }

.wrapper {
  margin-left: 50px;
  padding-top: 50px;
  text-align: center; 
}


@media screen and (max-width: 1200px) {
  #local {
    flex-wrap: wrap;
    padding-top: 30px; }
  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 50px; }
    #suscribite{
      width: 100%;
    }
    .carousel-inner1{
      width: 100% !important;}
    }


#numeros-local div {
  padding: 0 20px 0 0;
  height: 48px; }

#numeros-local div:not(:last-child) {
  border-right: 2px solid #3f3f3f; }

#numeros-local div:not(:first-child) {
  padding-left: 20px; }

#numeros-local p {
  margin: 0; }

#bg-contacto {
  position: relative;
  top: -130px; }
  #bg-contacto #seccion-contacto {
    min-height: 500px;
    position: relative; }
  #bg-contacto #seccion-contacto-page {
    min-height: 500px;
    position: relative;
    background-position: center;
    background-size: cover; }

#contenedor-formulario {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  border-radius: 25px;
  max-width: 500px; }
  #contenedor-formulario #titulo-formulario {
    color: #3f3f3f; }
  #contenedor-formulario #titulo-formulario-contacto {
    color: #f3f3f3; }

.container {
  padding: 30px; }
  .container .img_container {
    margin: 1.5rem; }

.producto_img {
  width: 300;
  height: 300;
  align-items: center;
  border-radius: 5px;
  background-color: #f5f5f5; }

.producto_img_sobrenosotros{
  width: 300;
  height: 300;
}

.btn, .producto_button-primary, .producto_button-secondary, .producto_button button {
  border-radius: 7px;
  border: none;
  font-size: 1.3rem;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem; }

.producto_button-primary {
  background-color: #219F94;
  color: white; }
  .producto_button-primary:hover {
    background-color: #3f3f3f; }

.producto_button-secondary {
  background-color: #219F94;
  color: #f3f3f3; }
  .producto_button-secondary:hover {
    background-color: #3f3f3f; }

.producto_button button {
  background-color: #219F94;
  color: white; }
  .producto_button button:hover {
    background-color: #3f3f3f; }

#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f; }
  #menu li > a #menu form > button {
    font-size: 18px;
    font-weight: bold; }

.carousel-inner {
  max-height: 42rem; }
